# Logs
.gitignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
*.json
*.d.ts
# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
*.md
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
debug.log
*.tsbuildinfo
obj
bin
.vs
/API/MyLife/Properties
/API/MyLife/appsettings.Development.json
/API/MyLife/appsettings.json
/API/MyLife/libman.json
/API/MyLife/MyLife.http
/API/MyLife/Migrations
/API/MyLife/bin/
/APIFOX