# Logs
.gitignore
.editorconfig
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
run
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
*.json
*.d.ts
*.config.ts
# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
*.md
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
debug.log
*.tsbuildinfo
obj
bin
.vs
Migrations

/APIFOX
/API/Data/Migrations/20260506070312_InitialCreate.cs
/API/Data/Migrations/AppStorageModelSnapshot.cs
