body,
div#app {
    padding: 0;
    border: 0;
    margin: 0;
    --webbkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

*{border-radius: 0px !important;}
/* *:hover{background-color: var(--Focus);} */



:root {
    --topColor:rgb(255,255,255);
    --back_color_lv1: rgb(233, 233, 235);
    --back_color_lv2: rgb(222, 223, 224);
    --inlineCenter:100px;
    --Focus: hsla(160, 100%, 37%, 1);
    --el-font-family: Unifont, "Cascadia Code PL";
}


a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {

    body,
    #app {
        width: 100%;
    }

    #app {
        display: flex;
    }
}


@media (min-width:1900px) {

    body,
    #app {
        width: 100%;
    }

    #app {
        display: flex;
    }
}


.common-view {
    background-color: var(--back_color_lv1);
    flex-grow: 1;
}